<form [formGroup]="userform" class="form-group">

  <label>
    First Name:
    <input type="text" formControlName="firstname"  class="form-control">
  </label>
  
  <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
  class="alert alert-danger">
  <div *ngIf="firstname.errors.required">
      Name is required.
    </div>
    <div *ngIf="firstname.errors.minlength">
      Name must be at least 5 characters long.
    </div>
  </div>   

  <label>
    Last Name:
    <input type="text" formControlName="lastname" class="form-control">
  </label>

  <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
  class="alert alert-danger">
  <div *ngIf="lastname.errors.required">
      Lastname is required.
    </div>
    <div *ngIf="lastname.errors.minlength">
      Lastname must be at least 5 characters long.
    </div>
  </div>  


  

  <label>
    Country:
    <select formControlName="country"  class="form-control">
      <option *ngFor="let countri of countriesDataBase" [value]="countri.callingCodes">{{countri.name}}</option>
    </select>
  </label>

  <label>
    Phone number + {{country.value}}
    <input type="tel" formControlName="phonenumber" >
  </label>

  <div *ngIf="phonenumber.invalid && (phonenumber.dirty || phonenumber.touched)"
  class="alert alert-danger">
  <div *ngIf="phonenumber.errors.required">
      phonenumber is required.
    </div>
    <div *ngIf="phonenumber.errors.pattern">
        phonenumber must be a numeric
    </div>
  </div>  

  <button (click)=messageAlert() [disabled]="!userform.valid" > Submit</button>
</form>




